# Decision Trees & Random Forests

In [6]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.tree import DecisionTreeClassifier, \
export_text, \
plot_tree
from sklearn.metrics import accuracy_score, \
classification_report, \
confusion_matrix
from sklearn.model_selection import train_test_split

## Planning

In [7]:
from pydataset import data

I'm going to work with the iris data set

Based on what we have seen from the iris data set,
I know I'm goinmg to have five columns or fields of information:
- petal lenth
- petal width
- sepal length
- sepal width
- species

Problem statment: Can I relably use the other four present fields (from one, up to four features_ to predict which species of iris flower that I have present?

X: potentially: petal length, petal width, speal length, 
Y: species

In [8]:
iris = data('iris')

In [10]:
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [12]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [13]:
iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [16]:
train_val, test = train_test_split(
iris, train_size=0.8,
random_state=9751,
stratify=train_val['species']
)

train, val = train_test_split(
iris, train_size=0.7,
random_state=9751,
stratify=train['species']
)

NameError: name 'train_val' is not defined

In [17]:
clf = DecisionTreeClassifier()

In [18]:
DecisionTreeClassifier

sklearn.tree._classes.DecisionTreeClassifier

In [ ]:
# fit the thing:
clf.fit(train[X_cols], train[y_cols])